<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'leveltest' %}">LevelTest</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'course' %}">Course</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'registration' %}">Registration</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">AboutUs</a></li>
