{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Notification{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="community" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Notification</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
<ul>
  
<div id="sec2" class="text-page">
  <div class="container">
    <div class="col">
      {%if object_list %}
      {% for notification in object_list %}
        <div class="col-md-3">
        <div class="jumbotron">
          <img class="img centered" src="{% static 'site/img/profile/park.png' %}" alt="profile pic">
          <h5>Notification1 title</h5>
          <h1> {{notification.title}}</h1>
          <p><a class="btn btn-primary centered" href="#" role="button">View details &raquo;</a></p>
        </div>
        </div>  
      {% endfor%}
      {% else %}
      <h1> No noti</h1>
      {% endif %}

    </div>
  </div>
</div>

<!--  {% for subject in object_list %}
  <li><a href="/course/{{ subject.id }}/"> {{ subject.class_title }} </a></li>
  {% endfor%}
-->
</ul>
{% endblock scripts %}

