{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Notification{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="community" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div class="jumbotron">
  <h1>Notification</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Notification Title1</h3>
        </div>
        <div class="panel-body">
          <img class="img-circle centered" src="{% static 'site/img/profile/park.png' %}" alt="profile pic">
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>      
      </div>
    </div>

    <div class="col-lg-4">
      <h2>Clinton, Trump make their closing arguments</h2>
      <p>Hillary Clinton and Donald Trump have a simple closing argument for voters: A loss in Tuesday's election would be catastrophic. With four days remaining before the election, the White House rivals ...</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Unilateral humanitarian pause in Aleppo begins</h2>
      <p>A 10-hour humanitarian pause in the besieged Syrian city of Aleppo was set to get under way Friday, but doubts remain whether it will be effective.
      The pause, which was to begin at ...</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>

{% endblock container %}

{% block scripts %}
  Noting!
{% endblock scripts %}
