{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Course{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="course" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Course Information</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}

<div>
  <a href="{% url 'course:index' %}" class="btn btn-primary btn-sm" role="button">레벨별</a>
  <a href="{% url 'course:category' %}" class="btn btn-primary btn-sm" role="button">카테고리별</a>
</div>

<div class="albums-container container-fluid">
  <div class="row">
{% if all_subjects %}
    {% for subject in all_subjects %}
      <div class="col-sm-4 col-lg-3">
        <div class="thumbnail">
          <!-- <a href="{% url 'course:detail' subject.id %}"> -->
          <img src="{{ subject.class_logo }}" class="img-responsive" width="300">
          <div class="caption">
            <h1>{{ subject.class_title }}</h1>
            {% if subject.class_level == 1 %}
              <h3>과목 레벨: 초급</h3>
            {% elif subject.class_level == 2 %}
              <h3>과목 레벨: 중급</h3>
            {% else %}
              <h3>과목 레벨: 고급</h3>
            {% endif %}
             <h3>{{ subject.class_category }}</h3>
            <a href="{% url 'course:detail' subject.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
          </div>
        </div>
      </div>
    {% endfor%}
{% else %}
  <h2> Coming soon</h2>
{% endif%}

</div>
</div>
{% endblock scripts %}

