{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Course{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="course" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Course Detail</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
  <h1> {{ subject.class_title }} </h1>
  <img src="{{ subject.class_logo }}" height="30%" width="30%">
  <h3> {{ subject.class_description }} </h3>
{% endblock scripts %}
