{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Course{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="course" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Course Information</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
<ul>
  {% for subject in all_subject %}
  <li><a href="/course/{{ subject.id }}/"> {{ subject.class_title }} </a></li>
    if subject.content[0] == 1


  {% endfor%}



</ul>
{% endblock scripts %}

