{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Course{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="course" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Teacher Information</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
<div class="albums-container container-fluid">
  <div class="row">
  {% if all_teachers %}
    {% for teacher in all_teachers %}
      <div class="col-sm-4 col-lg-4">
        <div class="thumbnail">
          <img src="{{ teacher.picture }}" width="500px">
          <div class="caption">
            <h2>{{ teacher.eng_name }} ({{ teacher.name }}) </h2>
          </div>
        </div>
      </div>
    {% endfor%}
{% else %}
  <h2> Coming soon</h2>
{% endif%}
</div>
</div>
{% endblock scripts %}



